.bgHome{
    background-image: url('../image/background/bg1.jpg');
}

/* Titre A RECENTS BOOKS */
.recentBookTitle{
    text-align: center;
    color: #ca8e23;
    background-image: linear-gradient(#120703, #9b4f2180),
    url('../image/background/borderOr.jpg');
    height: 115px;
    background-size: 100%;
    font-family: 'Smythe', cursive;
    font-size: 5em;
    box-shadow: 1px 1px 15px black;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.card-img-top{
    height: 400px;
    width: auto;
}

.cardHome{
    box-shadow: 1px 1px 15px black;
    margin: 20px;
}

.fa-user{
    margin: 0px 20px;
}

.coverHome{
    height: 720px;
    width: 100%;
}


.cardBorderHome{
    border: 3px solid #ca8e23;
    font-family: 'Smythe', cursive;
    color: #ca8e23;
    font-size: 5em;
    background-image: linear-gradient(#120703, #9b4f2180),
    url('../image/background/borderOr.jpg');
    background-size: 100%;
}
.cardBorderHome h5{
    padding: 0 !important;
    font-family: 'Smythe', cursive;
    color: #ca8e23;
    font-size: 1.5vw;
   
}