.bgOneBook{
    background-image: url('../img/background/bg1.jpg');
}

.titleOneBook{
    font-family: 'Smythe', cursive;
    color: #ca8e23;
    font-size: 5em;
}

.textOneBook p{
    font-family: 'Smythe', cursive;
    color: #ca8e23;
    font-size: 25px;
    padding: 10px;
    margin: 0;
    text-align:justify;
}

.textOneBook h3{
    font-family: 'Smythe', cursive;
    color: #ca8e23;
    font-size: 2em;
    padding-top: 20px;
}

/* tableau */
.bgAttributTableau{
    background-image: url('../img/background/bg1.jpg');
    border: 2px solid #ca8e23;
    
    opacity: 0.8;
}

.tableAttribut{
    font-family: 'Smythe', cursive;
    color: #ca8e23;
    font-size: 2em;
}
.imgOneBook{
	width:400px;
	height:600px;
	border: 5px outset black;
}
.test{
border-image-slice: 30;	
}


