.modal-content{
    border: 3px solid #ca8e23;
    background-image: url('../image/background/bg1.jpg');
}

.modal-header{
    background-image: linear-gradient(#120703, #9b4f2180),
    url('../image/background/borderOr.jpg');
    background-size: 100%;
}

.modal-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Smythe', cursive;
    font-size: 2em;
    color: #ca8e23;

}

.modal-body{
    background-image: url('../image/background/bg1.jpg');
}

.divItemSearch img{
    margin: 10px 40px;
}

.AttributModalSearch{
    font-family: 'Smythe', cursive;
    font-size: 1.5em;
    color: #ca8e23
}

.AttributModalinscript{
    font-family: 'Smythe', cursive;
    font-size: 2em;
    color: #ca8e23
}


/* bouton de la navbar */
.btnModalCustom{
    border: 2px solid black;
    padding: 10px 20px;
    background-image: linear-gradient(#120703, #9b4f2180),
    url('../image/background/borderOr.jpg');
    background-size: 100%;
    height: 55px;
    width: 170px;
    margin: 10px;
    text-decoration: none;
    color: #ca8e23;
    font-size: 2em;
    font-family: 'Smythe', cursive;

}

.btnModalCustom:hover{
    border: 2px solid black;
    padding: 10px 20px;
    background-image: linear-gradient(#120703, #9b4f2180),
    url('../image/background/borderOr.jpg');
    background-size: 100%;
    height: 55px;
    width: 170px;
    margin: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    font-weight: bold;
}